<h3>
    Course Catalog
    <a class="btn btn-secondary" href="/course" style="float: right"><i class="fa fa-plus"></i> Create New</a>
</h3>
<style>
    .table-striped tbody tr:nth-of-type(even) {
        background-color: #eaf2f4;
    }
</style>
<table class="table table-striped">
    <thead>
        <tr style="background-color: bisque">
            <th>Code</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.code}}</td>
            <td>{{this.name}}</td>
            <td>
                <a href="/course/{{this.code}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/course/delete/{{this.code}}" onclick="return confirm('Are you sure to delete this course ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
